.footer-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('/images/FOOTER-BACK.png');
    background-size: cover;
}

@media only screen and (max-width: 1024px) {
    .footer-wrapper {
        background-position: center;
    }
}