* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button, a {
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.1);
}

a:hover {
    text-decoration: underline;
}